<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>glfw.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>install.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>rgm.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>uninstall.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0B82AFF9080F45E5B174807B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67BAF6A61DCD4BAE9F8982B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68E63F70E6D74A3DA3F35338</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E6739B2573D4386835F42DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B3D6EF0E5CAA49E38AB12C2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CFAF8A10E88E4FD7BB46E566</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
